.dropdown {
    position: relative;
}
.hiddenPart {
    position: absolute;
    right: 0px;
    margin-top: 10px;
    min-width: 100%;
    z-index: 5;
}
.dropdown-list {
    background-color: rgb(59, 53, 53);
    color: var(--main-text);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.visiblePart {
    display: flex;
    align-items: center;
    color: var(--main-text);
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}
.visiblePart:hover {
    background-color: var(--main-hover-component-color);
    width: fit-content;
}