.dropdown {
    position: relative;
}
.hiddenPart {
    position: absolute;
    right: 0px;
}
.dropdown-list {
    background-color: rgb(59, 53, 53);
    color: var(--main-text);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}