.showInfoSection {
    padding: 20px;
    border: 0.666667px solid #3d3d41;
}
.showInfoSection h5 {
    font-size: 2rem;
}
.showInfoSection span {
    color: rgb(68, 68, 68);
    font-style: italic;
}
.upper {
    display: flex;
    gap: 20px;
}
.down {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.down button {
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.down button:hover {
    background-color: rgb(14, 20, 145);
    color: white;
}
.gananciaEstimada h5, .totalGenerated h5 {
    color: rgb(102, 163, 9);
}