.showInfoSection {
    padding: 20px;
    background-color: var(--main-component-color);
    color: var(--main-text);
}
.showInfoSection h5 {
    font-size: 2rem;
}
.upper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.down {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.down button {
    background-color: var(--accent-color);
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 1rem;
    color: var(--main-text);
    display: flex;
    gap: 10px;
    align-items: center;
}
.gananciaEstimada h5, .totalGenerated h5 {
    color: rgb(135, 220, 9);
}
@media (min-width: 1200px) {
    .upper {
        flex-wrap: nowrap;
    }
}