.loginPage {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    color: var(--main-text);
}
.loginPage form {
    margin: 0 auto;
}
.errorName {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid red;
    color: red;
    font-weight: 600;
}
.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.top div {
    display: grid;
    gap: 20px;
}