.menu {
    align-items: center;
    display: none;
    gap: 10px;
}
.menu a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
    transition: 0.2s ease-in;
}
.menu a:hover {
    background-color: var(--main-hover-component-color);
    
}
.menu-container {
    display: flex;
    align-self: center;
    position: relative;
}
.mobile-active {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    background-color: rgb(59, 53, 53);
    padding: 20px;
    left: 0px;
    top: 40px;
}
@media (min-width: 1200px) {
    .menu {
        display: flex;
    }
    .menuIcon {
        display: none;
    }
}