.dropdown-item {
    min-width: max-content;
    cursor: pointer;
    padding: 12px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(32, 32, 34, 0.573);
}
.dropdown-item:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
