.dropdown-item {
    min-width: max-content;
    cursor: pointer;
    padding: 15px;
    transition: 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 10px;
}
.dropdown-item:hover {
    background-color: rgb(93, 85, 85);
}
