.notfoundmain img {
    max-height: 300px;
    width: auto;
    margin: 0 auto;
    object-fit: cover;
    mask-image: linear-gradient(to top, transparent 5%, black);
}
.notfoundmain {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
}
.notfoundmain button {
    background-color: rgb(255, 117, 117);
    border: none;
    margin-top: 20px;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
}