.filter-single {
    color: white;
    padding: 5px 5px;
    background-color: rgb(64, 64, 64);
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    font-size: 14px;
}
.filter-single:hover {
    background-color: rgb(19, 1, 176);
}
.filter-single.active {
    background-color: white;
    color: black;
}
.filter-single.active:hover {
    background-color: white;
    color: black;
}