.filter-single {
    color: var(--main-color);
    padding: 5px 5px;
    background-color: rgb(221, 221, 221);
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    white-space: nowrap;
    font-size: 14px;
}
.filter-single:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
.filter-single.active {
    background-color: rgb(93, 0, 255);
    color: white;
}
.filter-single.active:hover {
    background-color: rgb(93, 0, 255);
    color: rgb(255, 255, 255);
}