.registerForm {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    color: var(--main-text);
}
.registerForm form {
    margin: 0 auto;
}
.errorName {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 5px;
    border-radius: 4px;
    background: rgba(239, 68, 68, 0.1);
    color: #b91c1c;
    font-weight: 500;
    border: 0px !important;
    font-size: 14px;
}