.sale-single-container {
    padding: 20px;
    width: fit-content;
    margin: 10px auto;
    background-color: var(--main-hover-component-color);
    border-radius: 8px;
    color: var(--main-text);
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 14px;
    justify-content: space-between;
}
.sale-single-container img {
    width: auto;
    height: 20px;
    object-fit: cover;
    border-radius: 5px;
}
.sale-single-container span {
    font-weight: 700;
}
.quantity-sell {
    display: flex;
    align-items: center;
    gap: 20px;
}
.left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.separador {
    border-top: 0.666667px solid var(--main-text);
    width: 100%;
    margin: 10px 0px;
}
.date {
    display: flex;
    align-items: center;
    gap: 10px;
}
.close {
    position: absolute;
    top: 5px;
    left: 5px;
}
.sale-single-container:hover {
    background-color: rgb(0, 0, 0);
}
@media (min-width: 1200px) {
    .sale-single-container img {
        height: auto;
        width: 100px;
        margin-left: 20px;
    }
    
}