header {
    margin: 20px;
    background-color: var(--main-component-color);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.user-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.user-header:hover {
    background-color: var(--main-hover-component-color);
    width: fit-content;
}