header {
    margin: 20px;
    background-color: var(--main-component-color);
    padding: 10px;
}
header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: white;
}