#modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: grid;
    place-items: center;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.481);
    backdrop-filter: blur(5px);
}