.loader {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,var(--main-text) 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(var(--main-text) 30%,#ffffff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }