.usersingleInformation {
    width: 100%;
    color: var(--main-text);
    border-bottom: 1px solid #e5e7eb;
}
.role {
    background-color: rgba(76, 76, 255, 0.197);
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: var(--main-text);
    text-transform: capitalize;
}
.actions {
    display: flex;
    gap: 10px;
    align-items: center;
}
.activo {
    background-color: green;
    padding: 5px;
    width: fit-content;
    border-radius: 8px;
}
.inactivo {
    background-color: rgba(255, 132, 132, 0.299);
    padding: 5px;
    width: fit-content;
    border-radius: 4px;
}