.loginPage {
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    color: white;
}
.loginPage form {
    margin: 0 auto;
}
.errorName {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    padding: 5px;
    border-radius: 4px;
}