.SaleList {
    height: 90vh;
    overflow-y: auto;
    width: fit-content;
    max-width: calc(100% - 20px);
    padding: 20px;
    border: 0.666667px solid #3d3d41;
    border-radius: 8px;
    margin: 20px;
    position: relative;
    overflow-x: hidden;
}
.SaleList > * {
    margin-bottom: 10px;
}
.SaleListFilters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}