.SaleList {
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    max-width: calc(100% - 20px);
    padding: 20px;
    border: 0.666667px solid #3d3d41;
    border-radius: 8px;
    position: relative;
    overflow-x: hidden;
}
.SaleList > * {
    margin-bottom: 10px;
}
.SaleListFilters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}
.estadisticas {
    width: 100%;
    height: fit-content;
    border: 0.666667px solid #3d3d41;
    padding: 20px;
    border-radius: 8px;
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        align-items: stretch;

    }
    .estadisticas {
        max-width: 100%;
        min-height: 50vh;
        margin: 0px auto;
        margin-bottom: 20px;
    }
}