.SaleList {
    height: 90vh;
    overflow-y: auto;
    width: fit-content;
    padding: 20px;
    padding-right: 10px;
    border: 0.666667px solid #3d3d41;
    border-radius: 8px;
    margin: 20px;
    position: relative;
}
.SaleList > * {
    margin-bottom: 10px;
}
.SaleListFilters {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    position: sticky;
    top: 0px;
    z-index: 2;
    margin-bottom: 20px;
}