.SaleList {
    height: 90vh;
    overflow-y: auto;
    width: fit-content;
    padding: 20px;
    padding-right: 10px;
    border: 0.666667px solid #3d3d41;
    border-radius: 8px;
    margin: 20px;
}
.SaleList > * {
    margin-bottom: 10px;
}