:root {
    --main-body-color: #121313;
    --main-component-color: #1d1d1d;
    --main-hover-component-color: rgb(59, 53, 53);
    --main-text: #fff;
    --accent-color: rgb(6, 18, 255);
}
.SaleList {
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    max-width: calc(100% - 20px);
    padding: 20px;
    position: relative;
    overflow-x: hidden;
    background-color: var(--main-component-color);
}
.SaleList > * {
    margin-bottom: 10px;
}
.SaleListFilters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    overflow-x: auto;
}
.estadisticas {
    width: 100%;
    height: fit-content;
    background-color: var(--main-component-color);
    padding: 20px;
}

@media (min-width: 1200px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        align-items: stretch;
    }
    .estadisticas {
        max-width: 100%;
        min-height: 50vh;
        margin: 0px auto;
        margin-bottom: 20px;
    }
}