* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: var(--main-body-color);
}
::-webkit-scrollbar {
  appearance: none; 
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
}