* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #09080a;
}
::-webkit-scrollbar {
  appearance: none;
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
  
}