@import url('non.geist');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Geist Variable';
}
:root {
  --main-body-color: rgb(240, 240, 240);
  --main-component-color: rgb(250, 250, 250);
  --main-hover-component-color: #f4f4f5;
  --main-text: #3d3d3d;
  --accent-color: rgb(6, 18, 255);
  --acent-text: rgba(32, 32, 34, 0.573);
  --hover-text: rgb(9, 9, 11);
  --border: rgba(222, 222, 222, 0.991);
}
body.dark {
    --main-body-color: #1e1e1e;
    --main-component-color: #252526;
    --main-hover-component-color: #3e3e42;
    --main-text: #ffffff;
    --accent-color: rgb(6, 18, 255);
    --acent-text: rgb(255, 255, 255);
    --hover-text: rgb(232, 232, 232);
    --border: rgba(65, 65, 65, 0.991);
}
body {
  background-color: var(--main-body-color);
}
::-webkit-scrollbar {
  appearance: none; 
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
}